<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<!--nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgb(219, 21, 170)">
  <a class="navbar-brand" style="color:white;">After Cake - Friends</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="onOpenFriendModal(undefined, 'addFriend')">Add Friend<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
     <input type="search" (ngModelChange)="searchFriends(key.value)" #key="ngModel" ngModel name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search friends..." required>
    </form>
  </div>
</nav-->

<div class="container" id="main-friend-container">
  
  <a (click)="onOpenFriendModal(undefined, 'add')" class="btn btn-primary tooltips" data-placement="top"><i class="fa fa-user-plus"> Add Friend</i><span class="sr-only">(current)</span></a>  
  <br>
  <div class="row">
        <div *ngFor="let friend of friends" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="{{friend?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                      <a routerLink="/gift"><h5 style="color:rgb(219, 21, 170)">{{friend?.firstName}}<span class="sr-only">(current)</span></h5></a>
                        <!--p class="m-0">{{user?.firstName}}</p-->
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Name : {{friend?.firstName}}  {{friend?.lastName}}</li>
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Date of Birth : {{friend?.dob}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="onOpenFriendModal(friend, 'editFriend')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenFriendModal(friend, 'deleteFriend')" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                    <ul class="social-links list-inline mb-0">
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  

    <!--Add Friend Modal-->
    <div class="modal fade" id="addFriendModal" tabindex="-1" role ="dialog" aria-labelledby="addFriendModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addFriendModalLabel">Add Friend</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddFriend(addForm)">
              <div class="form-group">
                <label for="fistName">First Name</label>
                <input type="text" ngModel name="firstName" class="form-control" id="firstName" placeholder="First Name" required>
              </div>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" ngModel name="lastName" class="form-control" id="lastName" placeholder="Last Name" required>
              </div>
              <div class="form-group">
                <label for="dob">Date of Birth</label>
                <input type="date" ngModel name="dob" class="form-control" id="dob" placeholder="Date of Birth" required>
              </div>
              <div class="form-group">
                <label for="hobby">Hobbies</label>
                <input type="text" ngModel name="hobby" class="form-control" id="hobby" placeholder="Hobbies" required>
              </div> 
              <div class="form-group">
                <label for="likes">Likes</label>
                <input type="text" ngModel name="likes" class="form-control" id="likes" placeholder="Likes" required>
              </div> 
              <div class="form-group">
                <label for="dislikes">Dislikes</label>
                <input type="text" ngModel name="dislikes" class="form-control" id="dislikes" placeholder="Disikes" required>
              </div>
              <div class="form-group">
                <label for="relationship">Relationship</label>
                <input type="text" ngModel name="relationship" class="form-control" id="relationship" placeholder="Relationship" required>
              </div>
              <div class="form-group">
                <label for="imageUrl">Image URL</label>
                <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image Url" required>
              </div>
              <div class="modal-footer">
                <button type="button" id="add-friend-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="editFriendModal" tabindex="-1" role="dialog" aria-labelledby="friendEditModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="updateFriendModalLabel">Edit Friend <!--{{editEmployee?.name}}--></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #editForm="ngForm">
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" ngModel="{{editFriend?.firstName}}" name="firstName" class="form-control" id="firstName" aria-describedby="emailHelp" placeholder="First Name">
                </div>
                  <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" ngModel="{{editFriend?.lastName}}" name="lastName" class="form-control" id="lastName" aria-describedby="emailHelp" placeholder="Last Name">
                  </div>
                  <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input type="text" ngModel="{{editFriend?.dob}}" name="dob" class="form-control" id="dob" aria-describedby="emailHelp" placeholder="Date of Birth">
                  </div>
                  <div class="form-group">
                    <label for="hobby">Hobbies</label>
                    <input type="text" ngModel="{{editFriend?.hobby}}" name="hobby" class="form-control" id="hobby" aria-describedby="emailHelp" placeholder="Hobbies">
                  </div>
                  <div class="form-group">
                    <label for="likes">Likes</label>
                    <input type="text" ngModel="{{editFriend?.likes}}" name="likes" class="form-control" id="likes" aria-describedby="emailHelp" placeholder="Likes">
                  </div>
                  <div class="form-group">
                    <label for="dislikes">Dislikes</label>
                    <input type="text" ngModel="{{editFriend?.dislikes}}" name="dislikes" class="form-control" id="dislikes" aria-describedby="emailHelp" placeholder="Dislikes">
                  </div>
                  <div class="form-group">
                    <label for="relationship">Relationship</label>
                    <input type="text" ngModel="{{editFriend?.relationship}}" name="relationship" class="form-control" id="relationship" aria-describedby="emailHelp" placeholder="Relationship">
                  </div>
                  <!--
                  <div class="form-group">
                    <label for="likes">Likes</label>
                    <input type="text" ngModel="{{editFriend?.likes}}" class="likes" id="likes" placeholder="Likes" required>
                  </div> 
                  <div class="form-group">
                    <label for="dislikes">Dislikes</label>
                    <input type="text" ngModel="{{editFriend?.dislikes}}" class="dislikes" id="dislikes" placeholder="Disikes" required>
                  </div>
                  <div class="form-group">
                    <label for="relationship">Relationship</label>
                    <input type="text" ngModel="{{editFriend?.relationship}}" class="relationship" id="relationship" placeholder="Relationship" required>
                  </div-->
                  <div class="form-group">
                    <label for="imageUrl">Image URL</label>
                    <input type="text" ngModel="{{editFriend?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
                  </div>
                  <input type="hidden" ngModel="{{editFriend?.id}}" name="id" class="friendId" id="id" placeholder="Id">
                  <input type="hidden" ngModel="{{editFriend?.friendCode}}" name="friendCode" class="friendCode" id="friendCode" placeholder="friendCode">
                
                  <div class="modal-footer">
                    <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                    <button (click)="onUpdateFriend(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                  </div>
              </form>
            </div>
        </div>
      </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteFriendModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModelLabel">Delete Friend</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete {{deleteFriend?.firstName}} {{deleteFriend?.lastName}}?</p>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button (click)="onDeleteFriend(deleteFriend!.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>